.card-container.col-3 {
  height: 30vh;
  word-wrap: 100%;
  padding: 0;
  border: 2px solid black;
}

.card {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
}

.card>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.card>div {
  position: absolute;
  height: 100%;
  width: 100%;

}

#winner-message {
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  border: 1px solid black;
  border-radius: 3%;
}

#winner-message>h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}